.popup__container {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #ffffff;
  max-width: 430px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 34px 36px 36px;
  min-height: 250px;
  font-family: 'Inter', 'Arial', sans-serif; 
  box-sizing: content-box;
}

@media (max-width: 520px) {
  .popup__container {
    width: calc(100vw - 80px*2);
  } 
}