.form__error_visible {
  position: absolute;
  left: 0;
  top: 64px;
  color: #FF0000;
  font-size: 12px;
  line-height: 15px;
  width: 100%;
  padding-top: 5px;
  display: inline-block;
  max-width: 358px;
}

@media (max-width: 520px) {
  .form__error_visible {
    top: 54px;
  } 
}

@media (max-width: 380px) {
  .form__error_visible {
    top: 70px;
  } 
}