.place__like-btn {
  border: none;
  align-self: center;
  background: url(./../../../images/love.svg) center no-repeat;
  background-size: 100%;
  cursor: pointer;
  margin-right: 7px;
  height: 19px;
  width: 21px;
  transition: 0.3s; 
}

.place__like-btn:hover {
  transform: scale(1.3);
}