@import url(./__details/place__details.css);
@import url(./__image/place__image.css);
@import url(./__like-btn/place__like-btn.css);
@import url(./__title/place__title.css);

.place {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
